body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* body {
    background-color: #969696;
    margin: 0px;
    margin-left: 550px;
    padding-top: 200px;
    border: 0px #969696;

} */

.hi {
    color: #ffe174;
    font-family: montserrat;
    font-weight: 275;
    font-size: 2.0em;
    margin-bottom: 0px;  
}

#name {
    color: #89015C;
    font-family: montserrat;
    font-size: 4.0em;
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.desc {
    color: whitesmoke;
    font-family: montserrat;
    font-weight: 275;
    font-size: 1.5em;
    margin-top: 0px;
}

button {
    background-color:#5c5a5a98;
    color: whitesmoke;
    font-family: montserrat;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 5px;
    text-align: center;
    border: 3px solid #ffe174;
    border-radius: 30px;
    margin-top: 200px;
    margin-left: 200px;
   
}

button:hover {
    background-color: rgba(255, 255, 0, 0.569);
    border: none;
    color: rgb(68, 67, 67);
    font-weight: 700;
}

.hero {
    background-image: linear-gradient(rgba(210, 205, 205, 0.596), rgba(0, 0, 0, 0.5)),url("./journey.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.hero-text {
    margin: 0px;
    margin-left: 550px;
    padding-top: 200px;
}

nav {
    background-color: rgb(255, 195, 44);
    font-family: montserrat;
    padding: 5px 5px 5px 5px;
    border: 2px solid rgb(207, 0, 162);
    height: 50px;
   
    
}

a {
    font-size: 20px;
    text-decoration: none;
    color: rgba(50, 50, 50, 0.815);
    font-weight: 500;
    margin: 5px 20px;
    float: left;
   
    
}

nav ul {
    list-style-type: none;
   
}

nav ul li {
    display: inline;
    padding: 0px 20px;

    

}

